{%extends "base.html" %}
{%block title %}Connexion{% endblock %}
{%block head %}Connexion{% endblock %}
{%block content %}

{% if form.has_errors %}
    <p>
        Your username and password didn't match. Please try again.
    </p>
{% endif %}

<form method="post" action=".">
    <p>
        <label for="id_username">Username:</label>
        {{ form.username }}
    </p>
    <p>
        <label for="id_password">Password:</label>
        {{ form.password }}
    </p>
    <input type="hidden" name="next" value="{% url 'dynamique_orm:index' %}" />
    <button class="btn waves-effect waves-light" type="submit" name="action" value="login">Se connecter</button>
    {% csrf_token %}
</form>

{% endblock %}
