{%extends "base.html" %}
{%block title %}Inscription{% endblock %}
{%block head %}Inscription{% endblock %}
{%block content %}

<form method="post" action=".">
	{{ form.as_p }}
    <button class="btn waves-effect waves-light" type="submit" name="action" value="register">S'inscrire</button>
	{% csrf_token %}
</form>

{% endblock %}
