{% extends "admin/change_list.html" %}

{% block result_list %}
{{ block.super }}
<br>
    <p class="field-description_text"><i>
        Votre trésorie est de
        {% if total >= 0 %}
            <b style="color: #00FF00;"> {{ total }} €</b>
        {% else %}
	        <b style="color: #FF0000;"> {{ total }} €</b> (Attention La banque peut appliquer des pénalités)
        {% endif %}
    </i></p>
{% endblock %}
