{%extends "base.html" %}
{%block title %}Panier{% endblock %}
{%block head %}Mon panier{% endblock %}
{%block content %}

{% if user.username %}
    {% if list_of_orders %}
	        {% for order in list_of_orders %}
		    {% if order.dish.is_available == 1 %}
			    <!--<li>
                    <div style="background-color: #fff; margin: 10px;">{{ order.dish.name_text }}|{{ order.dish.description_text }}|<div class="item" value="{% widthratio order.dish.price 1 order.quantity %}"></div>|<img src="{{ order.dish.picture.url }}" width="300"/></div>|{{ order.quantity }}
			    </li>-->
                <div class="col s12 m7">
	                <div class="card horizontal">
		                <div class="card-image">
			                <img style="width:420px" src="{{ order.dish.picture.url }}">
		                </div>
		                <div class="card-stacked">
			                <div class="card-content">
                                <form id="delete{{order.id}}" action="{% url 'dynamique_orm:delete_order' order.id %}" method="post">
				                    {% csrf_token %}
                                    <button style="position : absolute; right: 10px; top: 30px;" type="submit" class="btn-floating btn-large waves-effect waves-light red"><i style="font-size: 40px" class="material-icons">delete_forever</i></button>
                                </form>
            	                <h4 class="header">{{ order.dish.name_text }}</h4>
                                <div class="grey-text text-darken-1 quantity_item" value="{{order.quantity}}">Quantité = {{order.quantity}}</div>
                                <div class="grey-text text-darken-1 price_item" value="{% widthratio order.dish.price 1 order.quantity %}">Sous total = {% widthratio order.dish.price 1 order.quantity %} €</div>
                                <h5 class="header">Description : </h5>
                                <div value="{% widthratio order.dish.price 1 order.quantity %}">{{ order.dish.description_text }}</div>
			                </div>
		                </div>
	                </div>
                </div>
		    {% endif %}
	        {% endfor %}
            <br>
            <form style="text-align: right" action="{% url 'dynamique_orm:validate_basket' %}" method="post">
	            {% csrf_token %}
                <button id="form_validate" class="btn waves-effect waves-light" type="submit" name="action"></button>
            </form>
	{% else %}
	    <p>Votre panier est vide.</p>
	{% endif %}
    {% load static %}
    <script src="{% static 'dynamique_orm/sum_price.js' %}"></script> 
{% else %}
	<h3 class="page-title">Cette page est restreinte aux utilisateurs connectés</h3>
{% endif %}

{% endblock %}
