{%extends "base.html" %}
{%block title %}Commander{% endblock %}
{%block head %}{{ dish.name_text }}{% endblock %}
{%block content %}

{% if user.username %}
    {% if dish.is_available == 1 %}
        <div class="gallery row">
            <div class="col s12 m6 gallery-item gallery-expand gallery-filtergallery-fillscreen" data-type="sacred-geometry" data-tag="hexagon" data-size="small" data-fillscreen="true">
                <div class="placeholder">
                    <div class="gallery-curve-wrapper">
                        <div class="card">
                            <div class="card-image">
                                <a class="gallery-cover gray">
                                    <img class="responsive-img" src="{{ dish.picture.url }}" alt="Hexagon" crossorigin="anonymous">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col s12 m6">
                <div class="card-content">
                    <div class="product-description">
                        <h4>Description du plat :</h4>
                        <div class="rte">
                            <span>{{ dish.description_text }}</span>
                        </div>
                        <h4>Commander :</h4>
                        <form action="{% url 'dynamique_orm:order' dish.id%}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <input id="form_quantity" name = "quantity" type="number" value="0" min="0" max="{{ dish.count_available }}" onchange="refresh_button()"/>
                            <button id="form_validate" class="btn waves-effect waves-light" price="{{ dish.price }}" type="submit" disabled name="action">Choisissez la quantité</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% load static %}
        <script src="{% static 'dynamique_orm/manage_button_cost.js' %}"></script> 
        <!--Manque d'ingrédients-->        
    {% else %}
        Ce plat est victime de son succès, pour commander un autre plat rendez vous à la page d'acceuil
    {% endif %}
{% else %}
	<h3 class="page-title">Cette page est restreinte aux utilisateurs connectés</h3>
{% endif %}
{% endblock %}
