{%extends "base.html" %}
{%block title %}Accueil{% endblock %}
{%block head %}Accueil{% endblock %}
{%block content %}

{% if user.username %}
	{% if list_of_dishes %}
		<div class="row">
	    {% for dish in list_of_dishes %}
			<!--<li><div onclick="location.href='{% url 'dynamique_orm:details' dish.id %}'" style=" margin: 10px; ">{{ dish.name_text }}|{{ dish.description_text }}|{{ dish.price }}|<img src="{{ dish.picture.url }}" width="500"/></div></li>-->
		    <div class="col s5 m4">
		        <div class="card">
		            <div class="card-image">
                        {% if dish.is_available == 1 %}
		                    <img class="materialboxed" width="300" src="{{ dish.picture.url }}">
                        {% else %}
		                    <img class="materialboxed" style="opacity: 0.6;" width="300" src="{{ dish.picture.url }}">
	                    {% endif %}
	                </div>
	                <div class="card-content">
		                <p style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">{{ dish.name_text }}</p>
		                </div>
		                <div class="card-action">
                		<!--Est disponnible-->
	                    {% if dish.is_available == 1 %}
		                    <a href="{% url 'dynamique_orm:details' dish.id %}">En savoir plus</a>
                        {% else %}
		                    <a class="red-text text-darken-2">Victime de son succès</a>
	                    {% endif %}
		            </div>
		        </div>
		    </div>
	    {% endfor %}
        </div>
	{% else %}
	    <p>Aucun plat n'est disponnible à la vente, veuillez nous excuser pour la gêne occasionnée.</p>
	{% endif %}
{% else %}
	<h3 class="page-title">Cette page est restreinte aux utilisateurs connectés</h3>
{% endif %}

{% endblock %}
