<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dynamique_orm/style.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Django food | {% block title %}{% endblock %}</title>

</head>
<body class="grey lighten-5">
    <main>
        <nav>
            <div class="nav-wrapper grey darken-2">
                <a class="brand-logo" href="/dynamique_orm"><img height="64px" src="/media/django_food_logo.jpg">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'dynamique_orm:index' %}">Accueil ({{ user.username }})</a></li>
                    <li><a href="{% url 'dynamique_orm:logout' %}">Deconnexion</a></li>
                    <li><a href="{% url 'dynamique_orm:basket' %}" id="basket" value="{{ user.id }}"></a></li>
                    {% else %}
                    <li><a href="{% url 'dynamique_orm:login' %}">Connexion</a></li>
                    <li><a href="{% url 'dynamique_orm:register' %}">Inscription</a></li>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1 class="page-title">{% block head %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </div>
    </main>
    
    <footer class="page-footer grey darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">
                        Ce site web est issu d'un projet de programmation web de 4ème année à l'ESIEA.
                    </h5>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">
                        Les technologies utilisées sont :
                    </h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Django Framework 1.10</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Materialize 0.100.2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">jQuery 2.1.3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">PostgreSQL 9.5.8</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">HTML5/ CSS3</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 https://bitbucket.org/betterThanU91/project_django_food
                <a class="grey-text text-lighten-4 right" href="#!">lilian.jau.pro@gmail.com</a>
            </div>
        </div>
    </footer>
            
</body>
<script src="{% static 'dynamique_orm/basket.js' %}"></script>
<script>
 $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>
